.list-block .item-media {
    min-width: 16px;
}

.item-title {
    width: 100%;    /* Fix .item-after alignment in FF */
}
.item-after.extension {
    text-shadow: 1px 1px #666666;
}

.current-track {
    margin-left: 16px;
}

.elapsed-time {
    margin-right: 16px;
}

.player-slider {
    background-color: #FFFFFF;
    bottom: 0;
    height: 4px;
    left: 0;
    position: absolute;
    width: 0;
}
